
.vs/ProyectoFerreteria/v16/Server/sqlite3/db.lock
.vs/ProyectoFerreteria/v16/Server/sqlite3/storage.ide
.vs/ProyectoFerreteria/v16/Server/sqlite3/storage.ide-shm
.vs/ProyectoFerreteria/v16/Server/sqlite3/storage.ide-wal
.vs/ProyectoFerreteria/v16/.suo
.vs/ProyectoFerreteria/DesignTimeBuild/.dtbcache
.vs/ProyectoFerreteria/v16/.suo
.vs/ProyectoFerreteria/v16/.suo
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbprojAssemblyReference.cache
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbproj.CoreCompileInputs.cache
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbprojAssemblyReference.cache
.vs/ProyectoFerreteria/v16/.suo
Ferreteria - AccesoDatos/obj/Release/build.force
Ferreteria - LogicaNegocios/obj/Release/build.force
